.cg-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: black;
}

.cg-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 23, 102);
    width: 30%;
    height: 100%;
}

.cg-map{
    background-color: rgb(26, 91, 26);
    width: 100%;
    height: 30%;
}

.cg-story{
    background-color: rgb(110, 110, 22);
    width: 100%;
    height: 70%;
}

.cg-game{
    background-color: rgb(117, 26, 26);
    width: 70%;
    height: 100%;
}

.cg-visual{
    background-color: rgb(78, 22, 78);
    width: 100%;
    height: 70%;
}

.cg-options{
    background-color: rgb(132, 96, 31);
    width: 100%;
    height: 30%;
}