<div class="game-start" *ngIf="!gameStart">
  <h1 class="welcome">Welcome to the Murder Case</h1>
  <h3 class="game-description">
    This is a murder mystery game. You are a detective. You're task is to solve
    three murder cases, and put the right suspect in prison
  </h3>
  <h3 class="start-task">Are you up for the task?</h3>
  <button (click)="startGame()" class="start-game" mat-raised-button>
    Play Game
  </button>
</div>

<div *ngIf="gameStart" class="cg-cont">
  <div class="cg-game">
    <div class="cg-visual">
      <div class="beach-case" *ngIf="caseNumber === 1">
        <div class="case-description" *ngIf="chances === 100">
          <h3 class="game-title">Case Description</h3>
          <p>{{ beachMurder.caseDescription?.description }}</p>
        </div>
        <div class="case-description" *ngIf="chances === 99">
          <h3 class="game-title">Evidence</h3>
          <div class="beach-sus-evi-info">
            <div
              class="beach-evi-info"
              *ngFor="let evidence of beachMurder.evidence"
            >
              <h3 class="beach-evidence-name">Name: {{ evidence.name }}</h3>
              <p>Type: {{ evidence.details.type }}</p>
              <p>Details: {{ evidence.details.details }}</p>
            </div>
          </div>
        </div>

        <div class="case-description" *ngIf="chances === 98">
          <h3 class="game-title">Suspects</h3>
          <div class="beach-sus-evi-info">
            <div
              *ngFor="let suspect of beachMurder?.suspects"
              class="beach-suspect-info"
            >
              <h3 class="beach-sus-name">Name: {{ suspect.name }}</h3>
              <p>Relation to Victim: {{ suspect.relationToVictim }}</p>
              <p>Alibi: {{ suspect.alibi }}</p>
              <p>Details: {{ suspect.details }}</p>
              <p>Distance from Crime Scene: {{ suspect.distance }}</p>
              <p>Height: {{ suspect.height }}</p>
              <p>Weight: {{ suspect.weight }}</p>
              <p>Occupation: {{ suspect.weight }}</p>
            </div>
          </div>
        </div>

        <div class="beach-intro" *ngIf="chances === 0">
          <h1 class="beach-name">{{ beachMurder.caseDescription?.name }}</h1>
          <h3 class="beach-info">
            {{ beachMurder.caseDescription?.description }}
          </h3>
        </div>
        <div *ngIf="chances === 1" class="beach-sus-info">
          <h3 class="game-title">Suspects</h3>
          <div class="beach-sus-evi-info">
            <div
              *ngFor="let suspect of beachMurder?.suspects"
              class="beach-suspect-info"
            >
              <h3 class="beach-sus-name">Name: {{ suspect.name }}</h3>
              <p>Relation to Victim: {{ suspect.relationToVictim }}</p>
              <p>Alibi: {{ suspect.alibi }}</p>
              <p>Details: {{ suspect.details }}</p>
              <p>Distance from Crime Scene: {{ suspect.distance }}</p>
              <p>Height: {{ suspect.height }}</p>
              <p>Weight: {{ suspect.weight }}</p>
              <p>Occupation: {{ suspect.weight }}</p>
            </div>
          </div>
          <h3 class="game-title">Evidence</h3>
          <div class="beach-sus-evi-info">
            <div
              class="beach-evi-info"
              *ngFor="let evidence of beachMurder.evidence"
            >
              <h3 class="beach-evidence-name">Name: {{ evidence.name }}</h3>
              <p>Type: {{ evidence.details.type }}</p>
              <p>Details: {{ evidence.details.details }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="chances === 2" class="beach-witness-info">
          <h3 class="game-title">Witnesses</h3>
          <div
            *ngFor="let witness of beachMurder?.witnesses"
            class="beach-witness"
          >
            <h3 class="beach-witness-name">Name: {{ witness.name }}</h3>
            <p class="witness-disc">
              Relation to Victim: {{ witness.statement }}
            </p>
          </div>
        </div>
        <div class="game-ending" *ngIf="choices.length > 1">
          <h1 class="game-win" *ngIf="gameWin">You Have Solved the Case!!!</h1>
          <h1 class="game-loss" *ngIf="!gameWin && choices.length === 2">
            Wrong suspect. You have lost the case!
          </h1>
        </div>
      </div>
      <div class="cg-options">
        <button
          (click)="nextChance()"
          *ngIf="chances === 0"
          class="game-info"
          mat-raised-button
        >
          Check Suspects and Evidence
        </button>

        <div *ngIf="chances === 1 || chances === 2" class="beach-buttons">
          <div class="beach-sus-evi-buttons">
            <button
              (click)="addSuspect(suspect); nextChance()"
              *ngFor="let suspect of beachMurder?.suspects"
              class="beach-sus-btn"
            >
              {{ suspect.name }}
            </button>
          </div>
          <div class="all-game-info">
            <button (click)="setChance(100)" class="game-info">
              Check Case Details
            </button>

            <button
              *ngIf="chances === 2"
              (click)="setChance(99)"
              class="game-info"
            >
              Check Evidence
            </button>
            <button
              *ngIf="chances === 2"
              (click)="setChance(98)"
              class="game-info"
            >
              Check Suspects
            </button>
          </div>
          <!-- <div class="beach-game-buttons"></div>
          <button *ngIf=""></button> -->
        </div>
        <button
          (click)="restartGame()"
          *ngIf="chances === 3"
          class="game-info hello"
        >
          Restart Game
        </button>

        <button
          class="game-info"
          *ngIf="chances === 100 && choices.length === 0"
          (click)="setChance(1)"
        >
          Go Back
        </button>
        <button
          class="game-info"
          *ngIf="chances === 100 && choices.length === 1"
          (click)="setChance(2)"
        >
          Go Back
        </button>

        <button class="game-info" *ngIf="chances === 99" (click)="setChance(2)">
          Go Back
        </button>

        <button class="game-info" *ngIf="chances === 98" (click)="setChance(2)">
          Go Back
        </button>
      </div>
    </div>
  </div>
</div>
