.game-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: black;
    color: red;
}

.welcome{
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(to right, red, white);
  -webkit-background-clip: text;
  color: transparent;
    margin-bottom: 50px;
}

.game-description {
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(to left, red, white);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.start-task{
    font-size: 2rem;
    background: linear-gradient(to right, red, white);
  -webkit-background-clip: text;
  color: transparent;
    margin-bottom: 30px;
}

.start-game {
    background: linear-gradient(to right, red, white); /* Apply gradient background */
    color: white; /* Set text color */
    border: none; /* Remove default button border */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 1.5rem; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove outline on focus */
}

/* Add hover effect if desired */
.start-game:hover {
    /* You can adjust the gradient or other properties for hover effect */
    background: red;
}


.cg-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-color: black;
}

.cg-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 23, 102);
    width: 30%;
    height: 100%;
}

.cg-map{
    background-color: rgb(26, 91, 26);
    width: 100%;
    height: 30%;
}

.cg-story{
    background-color: rgb(110, 110, 22);
    width: 100%;
    height: 70%;
}

.cg-game{
    background-color: rgb(117, 26, 26);
    width: 100%;
    height: 100%;
}

.cg-visual{
    background-color: rgb(78, 22, 78);
    width: 100%;
    height: 70%;
}

.cg-options{
    background-color: rgb(132, 96, 31);
    width: 100%;
    height: 30%;
}

/* beach beach beach beach beach beach beach beach beach */
.beach-case{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: red;

}


.beach-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: red;

}

.beach-name{
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(to left, red, white);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.beach-info{
    text-align: center;
    width: 100%;
    font-size: 2rem;
    background: linear-gradient(to right, red, white);
    -webkit-background-clip: text;
    color: transparent;
}

.cg-options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.beach-sus-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    overflow: auto; /* Enable scrolling for overflow content */
  }

.beach-sus-evi-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
  overflow: auto; /* Enable scrolling for overflow content */
}

.beach-suspect-info{
    background-color: white;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.beach-sus-name{
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(to left, red, black);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
}

.beach-sus-evi-buttons{
    width: 100%;
}

.beach-sus-evi-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.beach-sus-btn{
    background: linear-gradient(to right, red, black); /* Apply gradient background */
    color: white; /* Set text color */
    border: none; /* Remove default button border */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 1.5rem; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove outline on focus */
}

.beach-evi-info{
    background-color: white;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}


/* beach beach beach beach beach beach beach beach beach */