<div class="pm-cont"></div>

<h1 class="pm-title">Picture Match</h1>

<h1 class="game-over" *ngIf="completed.length === 8">Game Over!!!</h1>

<div class="pm-game">
  <div class="board">
    <div class="row">
      <img
        class="cell"
        [src]="getImgSrc(oneName)"
        (click)="handleImageClick(oneName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(twoName)"
        (click)="handleImageClick(twoName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(threeName)"
        (click)="handleImageClick(threeName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(fourName)"
        (click)="handleImageClick(fourName)"
      />
    </div>
    <div class="row">
      <img
        class="cell"
        [src]="getImgSrc(fiveName)"
        (click)="handleImageClick(fiveName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(sixName)"
        (click)="handleImageClick(sixName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(sevenName)"
        (click)="handleImageClick(sevenName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(eightName)"
        (click)="handleImageClick(eightName)"
      />
    </div>
    <div class="row">
      <img
        class="cell"
        [src]="getImgSrc(nineName)"
        (click)="handleImageClick(nineName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(tenName)"
        (click)="handleImageClick(tenName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(elevenName)"
        (click)="handleImageClick(elevenName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(twelveName)"
        (click)="handleImageClick(twelveName)"
      />
    </div>
    <div class="row">
      <img
        class="cell"
        [src]="getImgSrc(thirteenName)"
        (click)="handleImageClick(thirteenName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(fourteenName)"
        (click)="handleImageClick(fourteenName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(fifteenName)"
        (click)="handleImageClick(fifteenName)"
      />
      <img
        class="cell"
        [src]="getImgSrc(sixteenName)"
        (click)="handleImageClick(sixteenName)"
      />
    </div>
  </div>
  <button
    class="playAgain"
    mat-raised-button
    *ngIf="completed.length === 8"
    (click)="gameFinished()"
  >
    Play Again
  </button>
</div>
